img {
  border-radius: 50%;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  text-decoration-line: underline;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer {
  text-align: center;
}
