h1 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-transform: uppercase;
}

h3 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

h4 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

img {
  height: 500px;
  width: auto;
  border: solid white 5px;
}

* {
  background-color: black;
}

.content {
  text-align: center;
  margin-top: 70px;
}
